:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 24px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  background-color: var(--light-grayish-cyan);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  background-color: var(--white);
  width: 60%;
  height: 60%;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 3rem;
  height: 100%;
}

.bill {
  color: var(--dark-grayish-cyan);
}

.bill-input {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: var(--very-dark-cyan);
  background-color: var(--very-light-grayish-cyan);
  width: 100%;
  text-align: right;
}

.bill-input:focus {
  border: 3px solid var(--strong-cyan);
  outline: none;
}

.bill-input::placeholder {
  text-align: right;
}

.select-tip {
  color: var(--dark-grayish-cyan);
  margin: 1rem 0;
}

.tip-percent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0;
}

.tip-btn {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  cursor: pointer;
}

.tip-btn:hover {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.tip-input {
  height: 100%;
  padding: 0 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: var(--very-dark-cyan);
  background-color: var(--very-light-grayish-cyan);
  width: 100%;
  text-align: right;
}

.tip-input:focus {
  border: 3px solid var(--strong-cyan);
  outline: none;
}

.tip-input::placeholder {
  text-align: center;
}
.num-of-people-input::placeholder {
  text-align: right;
}

.num-of-people-input:focus {
  border: 3px solid var(--strong-cyan);
  outline: none;
}

.num-of-people {
  color: var(--dark-grayish-cyan);
  margin: 1rem 0;
  display: inline;
}

.num-of-people-input {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: var(--very-dark-cyan);
  background-color: var(--very-light-grayish-cyan);
  width: 100%;
  text-align: right;
}

.error-message {
  display: inline;
  color: orange;
  display: none;
  margin-top: 0.5rem;
}

.right {
  display: flex;
  flex-direction: column;
  place-content: space-between;
  width: 50%;
  padding: 3rem;
  margin: 2rem;
  height: 85%;
  background-color: var(--very-dark-cyan);
  border-radius: 1rem;
}

.mini-container {
  display: flex;
  justify-content: space-between;
}

.mini-container-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  color: var(--white);
}

.person {
  color: var(--grayish-cyan);
  font-size: 1rem;
}

.mini-container-left-top {
  margin: 2rem 0;
}

.mini-container-left-bottom {
  margin: 2rem 0;
}

.mini-container-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-end;
}

.total {
  color: var(--strong-cyan);
  font-size: 3rem;
  margin-top: 2rem;
}

.tip-amount {
  color: var(--strong-cyan);
  font-size: 3rem;
  margin-top: 2rem;
}

.reset {
  background-color: var(--dark-grayish-cyan);
  color: var(--very-dark-cyan);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  cursor: pointer;
}

.reset:hover {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

@media screen and (max-width: 414px) {
  .container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .left {
    width: 100%;
    height: auto;
    padding: 1.5rem;
  }

  .tip-percent {
    grid-template-columns: repeat(2, 1fr);
  }

  .right {
    width: 90%;
    height: auto;
    padding: 1.5rem;
    margin: 0;
  }
  .mini-container-left {
    height: auto;
  }

  .mini-container-left-top,
  .mini-container-left-bottom {
    margin: 1rem 0;
  }

  .reset {
    font-size: 1.3rem;
  }

  .total,
  .tip-amount {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .title {
    font-size: 1rem;
  }
}
